/*
 * 
 * Modules > Variables
 * 
 */
/*
 * 
 * Modules > Buttons
 * 
 */
/*
 * 
 * Modules > Colors
 * 
 */
.black {
  color: #000; }

.white {
  color: #fff; }

.blue {
  color: #1b5b99; }

.red {
  color: red; }

.bg-black {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-red {
  background-color: red; }

.bg-blue {
  background-color: #1b5b99; }

/*
 * 
 * Modules > Fonts
 * 
 */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto"); }

/*
 * 
 * Modules > Inputs
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Modules > Mixins
 * 
 */
/*
 * 
 * Modules > Titles
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Base
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff; }

a:hover {
  text-decoration: none; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Footer
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.rodape {
  background-color: #1b5b99;
  border-top: 5px solid #00a651;
  color: #fff; }
  .rodape .conteudo {
    padding: 30px; }
  .rodape span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: center;
    margin-bottom: 40px; }
    .rodape span a img {
      width: 80px; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Header
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Nav
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.bg-nav-color-green {
  background-color: #00a651; }

.button-style-white {
  background-color: #fff; }

.bg-nav-color-blue {
  background-color: #1b5b99; }

.button-style-white {
  background-color: #fff; }

.text-navbar {
  padding: 10px; }
  .text-navbar li {
    margin: 10px 0px; }
    .text-navbar li a {
      color: #fff;
      padding: 13px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold; }

.btn-destaque {
  background-color: #00a651;
  display: block;
  height: 8vh;
  line-height: 8vh;
  color: #fff;
  text-align: center;
  border-radius: 38px;
  font-size: 12px; }
  .btn-destaque:hover {
    color: #fff;
    background-color: #1b5b99; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .text-navbar li {
    margin: 0px 0px; }
    .text-navbar li a {
      margin-right: 30px; }
  .destaque .btn-destaque {
    width: 163px; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Sidebar
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.eventos h2 {
  color: #00a651;
  text-align: center;
  font-size: 40px; }

.eventos p {
  margin-bottom: 0;
  font-size: 12px;
  color: #7a7a7a; }

.eventos a {
  font-weight: bold;
  color: #1b5b99;
  text-decoration: none; }

.eventos .box {
  margin-top: 20px;
  display: flex;
  flex-direction: column; }
  .eventos .box .mes {
    background-color: #1b5b99;
    color: #fff;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    padding: 0px 7px; }
    .eventos .box .mes h2 {
      color: #fff;
      text-align: center; }
  .eventos .box .descricao {
    background-color: #fff;
    border: 3px solid #1b5b99;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    position: relative; }
    .eventos .box .descricao img {
      width: 55px;
      position: absolute;
      bottom: 0px;
      right: 0;
      transform: translate(21%, 21%); }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .eventos .box {
    flex-direction: row; }
    .eventos .box .mes {
      border-radius: 10px 0px 0px 10px;
      align-items: center; }
    .eventos .box .descricao {
      border-radius: 0px 10px 10px 0px; } }

/* Large devices (large desktops, 1200px and up) */
.destaques h2 {
  font-size: 40px;
  color: #00a651;
  text-align: center; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.banner {
  background-image: url("../img/banner-main.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 470px; }
  .banner .texto-banner {
    padding-top: 100px;
    display: flex;
    align-items: center; }
    .banner .texto-banner h2 {
      color: #fff;
      display: flex;
      font-size: 25px; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .banner .texto-banner {
    padding: 153px 20px; } }

/* Large devices (large desktops, 1200px and up) */
.quem-somos {
  background-image: url("../img/bg-sindacucar.png");
  padding: 32px 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .quem-somos img {
    width: 55px; }
  .quem-somos span {
    transform: translateY(-50px);
    background-color: #00a651;
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 2.6rem;
    border-radius: 50%;
    box-shadow: 2px 3px 4px black; }
  .quem-somos .text {
    transform: translateY(-30px); }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .quem-somos {
    height: 330px;
    padding: 0 12px; } }

/* Large devices (large desktops, 1200px and up) */
