/*
 * 
 * Modules > Variables
 * 
 */
/*
 * 
 * Modules > Buttons
 * 
 */
/*
 * 
 * Modules > Colors
 * 
 */
.black {
  color: #000; }

.white {
  color: #fff; }

.blue {
  color: blue; }

.red {
  color: red; }

.bg-black {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-red {
  background-color: red; }

.bg-blue {
  background-color: blue; }

/*
 * 
 * Modules > Fonts
 * 
 */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto"); }

/*
 * 
 * Modules > Inputs
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Modules > Mixins
 * 
 */
/*
 * 
 * Modules > Titles
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Base
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Footer
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Header
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Nav
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.bg-nav-color {
  background-color: #00a651; }

.button-style {
  background-color: #fff; }

.text-navbar {
  padding: 10px; }
  .text-navbar li a {
    color: #fff;
    padding: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .text-navbar li a {
    margin-right: 30px; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Sidebar
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
