/*
 * 
 * Site > Nav
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/
.bg-nav-color-green {
  background-color: $green;
}
.button-style-white {
  background-color: $white;
}
.bg-nav-color-blue {
  background-color: $blue;
}
.button-style-white {
  background-color: $white;
}

.text-navbar {
  padding: 10px;
  li {
    margin: 10px 0px;
    a {
      color: $white;
      padding: 13px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}


      .btn-destaque {
        background-color: $green; display: block; height: 8vh; line-height: 8vh; color: #fff; text-align: center; border-radius: 38px; font-size: 12px;
        &:hover {
          color: $white;
          background-color: $blue;
        }
      }

/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .text-navbar {
    li {
      margin: 0px 0px;
      a {
        margin-right: 30px;
      }
    }
  }
  .destaque {
    .btn-destaque {
      width: 163px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
