/*
 * 
 * Site > Nav
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/
.bg-nav-color {
  background-color: $green;
}
.button-style {
  background-color: $white;
}
.text-navbar {
  padding: 10px;
  li {
    margin: 10px 0px;
    a {
      color: $white;
      padding: 13px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
.conteudo {
  ul {
    margin-top: 6%;
    margin-bottom: 6%;
    list-style: none;
    display: flex;
    li {
      a {
        margin-right: 30px;
        padding: 10px 25px;
        text-decoration: none;
        color: $white;
        background-color: $green;
        border-radius: 40px;
      }
    }
  }
}
/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .text-navbar {
    li {
      margin: 0px 0px;
      a {
        margin-right: 30px;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
