/*
 * 
 * Site > Nav
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/
.bg-nav-color-green {
  background-color: $green;
}
.button-style-white {
  background-color: $white;
}
.bg-nav-color-blue {
  background-color: $blue;
}
.button-style-white {
  background-color: $white;
}

.text-navbar {
  padding: 10px;
  li {
    margin: 10px 0px;
    a {
      color: $white;
      padding: 13px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
.navegacao-site {
  ul {
    list-style: none;
    li {
      border: none;
      a {
        padding: 10px 25px;
        text-decoration: none;
        color: $white;
        background-color: $green;
        border-radius: 40px;
        -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.54);
        -moz-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.54);
        box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.54);
      }
    }
  }
}
/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .text-navbar {
    li {
      margin: 0px 0px;
      a {
        margin-right: 30px;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
