/*
 * 
 * Site > Footer
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/

.rodape {
  background-color: $blue;
  border-top: 5px solid $green;
  color: $white;
  .conteudo {
    padding: 30px;
  }
  span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: center;
  }
}

/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
